/* ========================= eighth section - faq section */

.faqSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 124px 30px;
  
    h1 {
      margin-bottom: 48px;
    }
  }
  
  .faqQuestionCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: center;
    border-bottom: 1px solid #f1f1f1;
  
    &:hover {
      border-bottom-color: #dfdfdf;
  
      i {
        color: #65ba3b;
      }
    }
  }
  
  .faqTitle {
    flex-grow: 1;
    font-size: 1.5em;
  }
/* ========================= seventh section - Square Bird section */
.squareBirdSection {
    display: flex;
    flex-direction: row;
  
    img {
      width: 50%;
      object-fit: cover;
    }
  }
  
  .squareBirdComment {
    flex-grow: 1;
    background-color: #ffe979;
    display: block;
    padding: 96px 72px;
    line-height: 3em;
  
    img {
      width: 40px;
      margin-right: 15px;
    }
  
    h4 {
      font-size: 1.25em;
      margin: 0;
    }
  
    p {
      color: #282828;
      font-size: 2em;
    }
  
    a {
      color: #282828;
    }
  
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .seperator {
      width: 100%;
      margin: 30px 0 50px 0;
    }
  }
  