/* ========================= eighth section - faq section */

.faqSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 124px 30px;
  
    h1 {
      margin-bottom: 48px;
    }
  }
  
  .faqQuestionCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: center;
    border-bottom: 1px solid #f1f1f1;
  
    &:hover {
      border-bottom-color: #dfdfdf;
  
      i {
        color: #65ba3b;
      }
    }
  }
  
  .faqTitle {
    flex-grow: 1;
    font-size: 1.5em;
  }
/* ========================= seventh section - Square Bird section */
.squareBirdSection {
    display: flex;
    flex-direction: row;
  
    img {
      width: 50%;
      object-fit: cover;
    }
  }
  
  .squareBirdComment {
    flex-grow: 1;
    background-color: #ffe979;
    display: block;
    padding: 96px 72px;
    line-height: 3em;
  
    img {
      width: 40px;
      margin-right: 15px;
    }
  
    h4 {
      font-size: 1.25em;
      margin: 0;
    }
  
    p {
      color: #282828;
      font-size: 2em;
    }
  
    a {
      color: #282828;
    }
  
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .seperator {
      width: 100%;
      margin: 30px 0 50px 0;
    }
  }
  /* ========================= sixth section - Features Grid */
  .featuresGrid {
    padding: 0px 30px 124px;
  
    .featuresGridList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      column-gap: 40px;
    }
  
    .featuresBanner {
      margin: 20px 0;
      min-width: 200px;
      max-width: 300px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
  
      img {
        margin-bottom: 32px;
        height: 75px;
        width: auto;
      }
  
      h3 {
        margin-bottom: 10px;
        font-size: 20px;
      }
  
      p {
        color: #575757;
        font-size: 16px;
      }
    }
  }
  /* ========================= fifth section - Installation Number Section */
  .installationNumberSection {
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 96px 0px 24px 0px;
    border-top: solid #f1f1f1;
    background-image: url("src/shape-bg-9.svg");
    background-position: 0% 0%;
    border-top-width: 1.5px;
  
    h2 {
      font-size: 2.8em;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2em;
      color: #575757;
    }
  }
  